*~
*.d
*.o
*.o.d
*.opic
*.opic.d
*.a
*.so
*.so.*
drivers/lock-util
drivers/tapdisk-stream
drivers/tapdisk2
drivers/td-rated
drivers/td-util
control/tap-ctl
part/part-util
vhd/vhd-index
vhd/vhd-update
vhd/vhd-util
cscope.*
