# dev + obj
*~
*.o
*.a
*.lo
*.la
*.so
*.so.*
.deps
.libs
cscope.*
TAGS

# ac/am
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1

# executables
/drivers/lock-util
/drivers/tapdisk-stream
/drivers/td-rated
/drivers/td-util
/drivers/tapdisk
/control/tap-ctl
/part/part-util
/lvm/lvm-util
/vhd/vhd-index
/vhd/vhd-update
/vhd/vhd-util
/vhd/lib/test/random-copy
/vhd/lib/test/test-snapshot

# generated makefiles
/Makefile
/lvm/Makefile
/part/Makefile
/drivers/Makefile
/control/Makefile
/include/Makefile
/vhd/Makefile
/vhd/lib/Makefile
/vhd/lib/test/Makefile

# dist output
/blktap-*.tar.*
/blktap-*/
