[Unit]
Description=cum daemon
After=syslog.target network.target sys-kernel-config.mount

[Service]
ExecStart=/usr/bin/cumd
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

